<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>图片上传</title>
	<css file="__PUBLIC__/Css/public.css" 					/>
	<css file="__PUBLIC__/Css/Admin/Upimg/hd_img.css" 		/>
	
	<js file="__PUBLIC__/Js/jquery.js" 						/>
	<js file="__PUBLIC__/Js/jquery.cookie.js" 				/>
	<js file="__PUBLIC__/Js/public.js" 						/>
	<js file="__PUBLIC__/Js/Admin/Upimg/img.js" 			/>
</head>
<body>
	<div id="imgtwo_title"></div>
	
	<form action="{:U('/Aoshadeadmin/Upimg/upload')}/page/1" id="frameFile1" method="post"  
					 enctype="multipart/form-data">
			<div id="imgtwo" num="{$info.num}" style="display:none;">
				<div class="img_box2" id="img_box2">
					<img src="__ROOT__/{$info.savepath}{$info.savename}" style="" alt="" />
				</div>
				<div class="del1" imgpart="">删除图片</div>
			</div>
			<label class="file_box">
				<input type="file" name="photo" class="file_inp1" />
			</label>
			<div class="btn_img2">点击上传</div>
	</form>
	
	
	<script type="text/javascript">
			var caseImg = window.parent.$('.caseImgBox iframe').eq(0).attr('caseImgNum'),
				mdl 	= getMdl(),
				newImg  = $.cookie($.cookie('verification')+'img1');
			if( caseImg != 99 && typeof(caseImg) != 'undefined' && typeof(newImg) == 'object' ){
				$('#imgtwo').css('display','block');
				$('.file_box').css('display','none');
				$('.btn_img2').css('display','none');
				$('#imgtwo img').attr('src', mdl + '/Public/Case/' + $.cookie('caseId') + '/' + caseImg + '.jpg' );
			}

			if( typeof(newImg) != 'object' ){
				$('#imgtwo img').attr('src', mdl + '/Public/CaseBack/' + $.cookie('caseId') + '/' + newImg + '.jpg' );
				$('#imgtwo').css('display','block');
				$('.file_box').css('display','none');
				$('.btn_img2').css('display','none');
				$('.del1').attr('imgpart',$('img').attr('src'));
				$('#imgtwo_title').html('').css({display : 'none'});
			}
			if($('#imgtwo').attr('num') > 0 ){
				var mdl = getMdl();
				$('#imgtwo').css('display','block');
				$('.file_box').css('display','none');
				$('.btn_img2').css('display','none');
				$('.del1').attr('imgpart',$('img').attr('src'));
				$('#imgtwo_title').html('').css({display : 'none'});
			}
		  	
		  	$('.del1').on('click',function(){
		  		var mdl = getMdl();
		  		$('#imgtwo').css('display','none');
		  		var result = {};
				result.imgType = 0;
				result.num 	   = 1;
				$.post(mdl + '/Aoshadeadmin/Upimg/delFile',result,function(data){
					//alert(data.status);
					if(data.status == 0){
						//location.href = mdl + '/Aoshadeadmin/Upimg/img1';
						window.parent.location.reload();
						//alert('图片删除是成功');
					}else{
						//alert('图片删除是失败');
					}
				},'json');
				$('.file_box').css('display','block');
				$('.btn_img2').css('display','block');

		  	})
	</script>
	
	
</body>
</html>